<div class="container">
  <nav>
    <a routerLink="/books" class="me-3" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Dashboard</a>
    <a routerLink="/books/search" class="me-3" routerLinkActive="active">Suche</a>
    <a routerLink="/books/create" class="me-3" routerLinkActive="active">Erstellen</a>
  </nav>

  <h1>{{ title }}</h1>

  <router-outlet></router-outlet>
</div>


<!--
  TODO Routing:

  - Root-Pfad / ☑️
    - Redirect ☑️
    - (Startseite) ☑️
    - (Errorseite) ☑️
    - Links ☑️
      - zur Detailseite ☑️
      - zur Liste zurück ☑️
  - Navigation
  - Detailseite
    - ISBN ☑️
    - Buch abrufen (HTTP)
    - Anzeige
-->
